/* Styles go here */
body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

@font-face {
    font-family: "Goblin";
    src: url("css/fonts/Goblin.otf");
    src:
    /* url("css/fonts/Harabara.woff") format("woff"), */
    url("css/fonts/Goblin.otf") format("opentype"),
    /* url("css/fonts/Harabara.svg#filename") format("svg"); */
    }
.screen {
    height: 100vh;
    width: 100vw;
}
.nft-sec {
    height: 100vh;
    background: #8a8a88;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.dungeon {
    background-color: #e2e1e1;
    /* width: 80vw; */
    /* height: 90vh; */
    position: relative;
    border-left: 8px solid rgb(245, 245, 245);
    border-right: 8px solid rgb(126, 125, 125);
    border-top: 8px solid rgb(61, 61, 61);
    border-bottom: 8px solid rgba(180, 180, 180, 0.432);
}
.avatar-section {
    padding: 10px;
    position: absolute;
    top: 10px;
    width: 100%;
    height: 40%;

}
.avatar{
    height: 300px !important;
    width: 300px !important;
    align-content: center !important;
    border-left: 8px solid rgb(245, 245, 245);
    border-right: 8px solid rgb(126, 125, 125);
    border-top: 8px solid rgb(61, 61, 61);
    border-bottom: 8px solid rgba(180, 180, 180, 0.432);
    padding: 20px;
    margin: 10px;
    background-color: #8a8a88;
    
}

.minted {
    background-color: white;
    height: 300px !important;
    width: 300px !important;
    margin-left: 50% !important;


    /* height: 100% !important; */
    /* height: 200px !important; */
    /* width: auto; */
    align-content: center !important;
    border-left: 8px solid rgb(245, 245, 245);
    border-right: 8px solid rgb(126, 125, 125);
    border-top: 8px solid rgb(61, 61, 61);
    border-bottom: 8px solid rgba(180, 180, 180, 0.432);
    padding: 20px;
    margin: 10px;
}

.mint-btn {
    margin-top: 50% !important;
    border-radius: 25%;
}
.title {
    align-items: center !important;
    margin: auto;
    padding: 20px;
}
.text {
    /* margin-top: 50% !important; */

    margin-left: auto;
    font-family: "Goblin";
    font-weight: 200;
    font-style: normal;
    margin-left:auto;  
}


.trophy-cabinet {
    padding: 10px;
    margin-top: 20px;
    /* position: absolute; */
    /* bottom: 10px; */
    /* width: 100%; */
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);

    /* margin-top: 30px; */
    /* height: -60%; */
    /* height: 30vw;
    width: 100vh; */
}
.scroll {
    overflow-y: scroll;
    margin-top: 30px;
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-face-color: blue orange;

}
/* .drawer {
    border-left: 4px solid rgb(245, 245, 245);
    border-right: 4px solid rgb(126, 125, 125);
    border-top: 4px solid rgb(61, 61, 61);
    border-bottom: 4px solid rgba(180, 180, 180, 0.432);
    height: 200px;
    width: 200px;
    align-content: center !important;
    padding: 5px;
    margin: 2.5px;
    background-color: #8a8a88;
    flex-grow: 1;
    width: 33%;

} */
.vertical-scrollable {
    height: auto;
}
.vertical-scrollable > .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* overflow-y: scroll; */
    white-space: nowrap;
}
.vertical-scrollable > .row > * {
    border-left: 5px solid rgb(245, 245, 245);
    border-right: 5px solid rgb(126, 125, 125);
    border-top: 5px solid rgb(61, 61, 61);
    border-bottom: 5px solid rgba(180, 180, 180, 0.432);
    /* flex-grow: 1; */
    flex: 1 1 30%;
    margin: 10px;
    width: 33%;
    height: 250px;
    width: 100px;

}

.dispToken {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    display: inline-block;
    background-color: #000000;

}

.btn{
    font-family: "Goblin";
    background-color: white;

}