<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFS demo</title>
</head>
<body>
    <h1>Uplaod file to ipfs</h1>
    <form enctype="multipart/form-data" method="POST" action="/v1/character/new">
        <label for="fileName">FileName</label>
        <input type="text" name="fileName" />
        <br/>
        <label for="file">Upload File</label>
        <input type="file" name="file"/>
        <br/>
        <input type="submit" />
    </form>
</body>
</html>