/* Column container */
body {
    height: 100vh;
    width: 100vw;
}
.description {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}
.row1 {  
    display: flex;
    /* position: relative; */
    flex-wrap: wrap;
    padding: 50px;
    background-image: linear-gradient(to bottom, #222732, #232632, #242432, #252331, #272130, #261e2b, #251b27, #231822, #1d141a, #170e13, #0e070a, #000000);
}
.row2 {  
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    background-image: linear-gradient(to bottom, #4d006f, #520074, #560179, #5b017f, #600284, #6c088e, #790e99, #8614a3, #9e1fb5, #b72ac8, #d135da, #ec3fec);
}
.row3 {  
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    background-image: linear-gradient(to bottom, #ff5c5c, #ff514f, #ff4541, #ff3732, #ff2722, #f41d24, #e81026, #dd0027, #c10032, #a20037, #820038, #620933);
}

  .side {
    flex: 40%;
    padding: 40px;
  }
  
  /* Main column */
  .main {
    flex: 60%;
  }
  
  .fakeimg {
    padding: 20px;
    height: 300px !important;
  }
  .l-img {
    height: 300px !important;
  }

  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }

.welcome3 {
    color: #2a60d3;
    font-weight: 900;
    font-size: 70px;
}

.desc3{
    color: #a3b8f0;
    font-weight: 800;
    font-size: large;
}

.welcome1 {
    color: #ed99fd;
    font-weight: 900;
    font-size: 70px;
}

.desc1 {
    color: #fab3b3;
    font-weight: 800;
    font-size: large;
}

.welcome2 {
    color: #ffa3a3;
    font-weight: 900;
    font-size: 70px;
}

.desc2 {
    color: #fab3b3;
    font-weight: 800;
    font-size: large;
}
