@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');
body{
    font-family: 'Chakra Petch', sans-serif;
    background-color: #222831;
    text-color: white;
}
body::-webkit-scrollbar {
    width: 0.4em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #222732;
    outline: 1px solid #222732;
  }

  @media screen and (max-width: 700px) {
    .tag {   
      /* flex-direction: column;
      float: none; */
      /* float: left !important; */
      overflow: auto !important;
      width: 300px !important;
      /* padding: 50px !important; */
      /* margin: 20px !important; */
      display: flex;
      flex-direction: column;

    }
    .video {
      visibility: hidden;
    }
    .welcome {
      font-weight: 800 !important;
      font-size: 35px !important;
      overflow: auto;
  
    }
    .game{
      font-weight: 900 !important;
      font-size: 45px !important;
  
    }
    .descri{
      font-weight: 800 !important;
      font-size: 15px !important;
  
    }
    .sign-up{
      float: left !important;
      float: right;
      border-radius: 20px;
      border: 2.5px solid white;
      margin-top: 10px;
      padding: 7px;
      background-color: #22273;
      color: white;
      font-weight: 800;
    }
  }
.video{
    position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}
.v-landing{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
}
.videoTag {
  min-height:100%;
  min-width:100%;
}
.tag {
    float: left;
    position: absolute;
    display: block;
    left: 100px;
    top: 50vh;
    z-index: 1000;
    background-color: #2227328f;
    /* opacity: 20%; */
    padding: 15px;
    color: #FFFFFF;
    /* font-weight: bold; */
    justify-content: space-between;
    width: 1000px;
 }

.welcome {
    color: #2a60d3;
    font-weight: 900;
    font-size: 50px;
}

.game {
    color: #ffffff;
    font-weight: 900;
    font-size: 80px;
}

.descri{
    color: #ffffff;
    font-weight: 800;
}

.sign-up{
    float: right;
    border-radius: 40px;
    border: 5px solid white;
    padding: 15px;
    background-color: #22273;
    color: white;
    font-weight: 800;
}

.sign-up:hover {
    float: right;
    border-radius: 50px;
    border: 5px solid #2a60d3;
    /* padding: 10px; */
    background-color: #2a60d3;
    color: white;
    font-weight: 900;
}

